$fontSourceSansPro: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif;


$headerBgImage: "../img/m-h-day.jpg";

$logoFontFamily: $fontHind;
$logoSpanMarginTop: -9px;

$darkBlueColor: #282b39;
$blackBlueColor: #1b1e2a;
$lightGrayColor: rgb(192, 195, 206);

$headerTextColor: $darkBlueColor;
$headerDescriptionFontFamily: $fontHind;

$underlineColor: #0ca1c8;

$joinButtonBgColor: rgb(105, 154, 0);

$bodyBgColor: white;

$welcomeHeaderTextColor: $darkBlueColor;

$cardBgColor: $blackBlueColor;
$cardDescriptionFontFamily: $fontHind;
$cardDescriptionWordSpacing: 0;

$gradientHeadingTextColor: $darkBlueColor;
$gradientStartColor: #679709;
$gradientEndColor: #2f5dce;

$footerBgColor: $blackBlueColor;
$footerFontFamily: $fontHind;