
$fontFresca: 'Fresca', sans-serif;
$fontSourceSansPro: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;

$blackGrayColor: #3b3f50;
$lightGrayColor: rgb(192, 195, 206);

$headerBgImage: "../img/m-h-night.jpg";

$headerDescriptionFontFamily: $fontFresca;
$headerTextColor: white;

$underlineColor: #ff4e1f;

$joinButtonBgColor: rgb(228, 173, 0);

$bodyBgColor: #21232e;

$logoFontFamily: $fontFresca;
$logoSpanMarginTop: 0px;

$welcomeHeaderTextColor: white;


$gradientHeadingTextColor: white;
$gradientStartColor: #da9e09;
$gradientEndColor: #99374c;

$footerBgColor: $blackGrayColor;
$footerFontFamily: $fontFresca;

$cardBgColor: $blackGrayColor;
$cardDescriptionFontFamily: $fontFresca;
$cardDescriptionWordSpacing: 0.4px;